pandas==2.2.3
numpy==1.26.4
seaborn==0.13.2
lets-plot==4.5.1
lxml==6.0.2
scikit-learn==1.5.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
pyclustering==0.10.1.2
statsmodels==0.14.4
mlxtend==0.23.3
scipy==1.11.4
pmdarima==2.0.4
prophet==1.1.6
cmdstanpy==1.2.5
geopandas==1.0.1
pysal==24.7